@using MagazaUrunTakip.Models.Entitiy
@model List<TblSatislar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Ürün</th>
        <th class="text-center">Personel</th>
        <th class="text-center">Müşteri</th>
        <th class="text-center">Fiyat</th>
        <th class="text-center">Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@item.ID</td>
            <td class="text-center">@item.TblUrunler.Ad</td>
            <td class="text-center">@item.TblPersonel.Ad @item.TblPersonel.Soyad</td>
            <td class="text-center">@item.TblMusteri.Ad @item.TblMusteri.Soyad</td>
            <td class="text-center">@item.Fiyat ₺</td>
            <td class="text-center">@(item.Tarih.HasValue ? item.Tarih.Value.ToString("dd.MM.yyyy") : "")</td>
        </tr>
    }
</table>
<a href="/Satislar/YeniSatis" class="btn btn-primary">Yeni Satış İşlemi</a>