@using MagazaUrunTakip.Models.Entitiy
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TblMusteri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
{
    <p>
        <b>Aranacak Müşteri Adı:</b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Ad</th>
        <th class="text-center">Soyad</th>
        <th class="text-center">Şehir</th>
        <th class="text-center">Bakiye</th>
        <th class="text-center">Sil</th>
        <th class="text-center">Güncelle</th>
        <th class="text-center">Uyarı</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@item.ID</td>
            <td class="text-center">@item.Ad</td>
            <td class="text-center">@item.Soyad</td>
            <td class="text-center">@item.Sehir</td>
            <td class="text-center">@item.Bakiye</td>
            <td class="text-center"><a href="/Musteri/MusteriSil/@item.ID" class=" btn btn-danger">Sil</a></td>
            <td class="text-center"><a href="/Musteri/MusteriGetir/@item.ID" class=" btn btn-success">Güncelle</a></td>
            <td class="text-center">@Html.ActionLink("Sil", "MusteriSil", new { item.ID }, new { @class = "btn btn-warning", @onclick = "return confirm('Gerçekten silmek istiyor musunuz?')" })</td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action(ViewBag.Title, new { sayfa }))

<a href="/Musteri/YeniMusteri" class="btn btn-primary">Yeni Müşteri</a>