@using MagazaUrunTakip.Models.Entitiy
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TblMusteri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Bakiye</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.Sehir</td>
            <td>@item.Bakiye</td>
            <td><a href="/Müşteri/MusteriSil/@item.ID" class=" btn btn-danger">Sil</a></td>
            <td><a href="/Müşteri/MusteriGetir/@item.ID" class=" btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action(ViewBag.Title, new { sayfa }))

<a href="/Kategori/YeniKategori" class="btn btn-primary">Yeni Müşteri</a>